/* Write your own custom component styles here */
@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 100 1000;
  src: url("/static/fonts/iAWriterQuattroV.ttf") format("truetype-variations");
}

@layer base {
  body {
    @apply font-mono;
  }
}

@layer components {
}

/* Your own custom utilities */
@layer utilities {
  .text-primary {
    @apply text-gray-1000 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-tertiary {
    @apply text-gray-500 dark:text-gray-500;
  }

  .text-quaternary {
    @apply text-gray-400 dark:text-gray-600;
  }

  .timeline-inset {
    @apply ml-16 md:ml-0;
  }

  .timeline-full-width {
    @apply -ml-16 md:ml-0;
  }

  .blob {
    @apply text-gray-1000 dark:text-white;
  }

  .blob-pink {
    color: #FF007A;
    fill-opacity: 0.7;
  }

  .blob-orange {
    color: #FF8A00;
    fill-opacity: 0.7;
  }

  @media (prefers-color-scheme: dark) {
    .blob-pink {
      fill-opacity: 0.9;
    }
  
    .blob-orange {
      fill-opacity: 0.9;
    }
  }
  
  .s-mark {
    @apply text-white dark:text-gray-1000;
  }

  @media only screen and (max-width: 768px) {
    .meta-wrap {
      display: none;
    }
  }
  
  .meta-wrap {
    background: transparent;
    animation: 24s spin ease-in-out infinite;
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 140%;
    top:60%;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .meta:before,
  .meta:after {
    content: "";
    position: absolute;
    width:212px;
    height:212px;
    left:50%;
    top:50%;
    margin:-50px;
    background: linear-gradient(#FF9900, #FF007A);
    border-radius:50%;
    
    -webkit-filter: blur(10px);
    filter: blur(10px);
    animation: move 100s infinite alternate ease-in-out;
  }

  .meta:before {
    animation-duration: 29.3s;
    animation-delay: -3.3s;
  }

  .meta:nth-child(2):before {
    animation-duration: 34.7s;
    animation-delay: -2.7s;
  }

  .meta:nth-child(2):after {
    animation-duration: 28.7s;
    animation-delay: -5.32s;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg)
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0%, 2%);
    }
    15% {
      transform: translate(-20%, 20%);
    }
    30% {
      transform: translate(30%, -30%);
    }
    40% {
      transform: translate(-20%, 20%);
    }
    60% {
      transform: translate(20%, -20%);
    }
    80% {
      transform: translate(-20%, -10%);
    }
    100% {
      transform: translate(20%, 10%);
    }
  }

  .filter-none {
    filter: none;
  }
  
  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .filter-blur {
    backdrop-filter: saturate(180%) blur(20px);
  }

  .highlight-link-hover {
    @apply px-0.5 -mx-0.5 no-underline hover:bg-yellow-400 rounded dark:hover:bg-gray-100 dark:bg-opacity-20 text-gray-1000 dark:text-gray-300 bg-opacity-20 hover:bg-opacity-30;
  }

  .highlight-link {
    @apply px-0.5 -mx-0.5 no-underline bg-yellow-400 rounded dark:bg-gray-100 dark:bg-opacity-20 text-gray-1000 dark:text-gray-300 bg-opacity-20 hover:bg-opacity-30;
  }

  .blink {
    animation: blink-animation 1.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
