.prose {
  @apply text-gray-900 dark:text-gray-300;
}

.prose blockquote {
  @apply font-normal border-l-2 border-gray-200 dark:border-gray-800 dark:text-gray-400;
}

.prose img {
  @apply rounded-md;
}

.prose a {
  @apply px-0.5 -mx-0.5 font-medium no-underline bg-yellow-400 rounded-sm dark:bg-gray-100 dark:bg-opacity-20 text-gray-1000 dark:text-gray-300 bg-opacity-20 md:hover:bg-opacity-30 md:dark:hover:bg-yellow-500 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-1000 break-words;
}

.prose a code {
  @apply px-0.5 -mx-0.5 font-medium no-underline bg-yellow-400 rounded-sm dark:bg-gray-100 dark:bg-opacity-20 text-gray-1000 dark:text-gray-300 bg-opacity-20 hover:bg-opacity-30 dark:hover:bg-yellow-500 dark:hover:bg-opacity-100 dark:hover:text-gray-1000;
}

.prose table {
  @apply text-gray-1000 dark:text-gray-50;
}

.prose b,
.prose strong {
  @apply font-bold text-gray-900 dark:text-gray-300;
}

/* the kg-embed-card gets applied to iframes sent from Ghost. this preserves a good video aspect ratio */
.prose .kg-embed-card {
  @apply my-4;
  position: relative;
  padding-top: 56.25%;
}

.prose .kg-embed-card iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-sans font-extrabold;
}

.prose h5 {
  @apply mt-10 -mb-3 text-2xl;
}

.prose pre {
  @apply px-8 py-6 space-y-4 text-sm text-gray-800 bg-gray-400 border-gray-300 rounded bg-opacity-5 dark:border-gray-800 dark:text-gray-200;
}

/* this is needed to avoid HN comments from overflowing off the right edge of the screen */
.prose p {
  @apply break-words;
  word-break: break-word;
}

.prose p + p {
  margin-top: 0;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border-gray-100 dark:border-gray-800 bg-gray-100 dark:bg-gray-900;
}

.prose code,
.prose pre {
  @apply text-base;
}