@tailwind base;

/* Write your own custom base styles here */

html {
  @apply bg-gray-50 dark:bg-gray-1000;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
@layer components {
  p, ul, ol, li {
    @apply text-gray-1000 dark:text-gray-50;
  }
  
  a {
    @apply text-blue-600 dark:text-blue-500 dark:hover:text-blue-400 hover:text-blue-800 visited:text-blue-800 dark:visited:text-blue-500 font-semibold;
  }
  
  h6 {
    @apply text-gray-1000 dark:text-gray-50 text-base font-bold;
  }
  
  h5 {
    @apply text-gray-1000 dark:text-gray-50 text-lg font-bold;
  }
  
  h4 {
    @apply text-gray-1000 dark:text-gray-50 text-xl font-bold;
  }
  
  h3 {
    @apply text-gray-1000 dark:text-gray-50 text-2xl font-bold;
  }
  
  h2 {
    @apply text-gray-1000 dark:text-gray-50 text-3xl font-extrabold;
  }
  
  h1 {
    @apply text-gray-1000 dark:text-gray-50 text-4xl font-extrabold;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .text-primary {
    @apply text-gray-1000 dark:text-gray-50;
  }

  .text-secondary {
    @apply text-gray-800 dark:text-gray-200;
  }

  .text-tertiary {
    @apply text-gray-600 dark:text-gray-400;
  }

  .divider-gray {
    @apply text-gray-300 dark:text-gray-700
  }

  .page-subtitle {
    @apply text-xl;
  }

  .p-small {
    @apply text-sm text-gray-600 dark:text-gray-400;
  }

  .prose blockquote {
    @apply text-gray-1000 dark:text-gray-50;
  }

  .prose a {
    @apply dark:text-yellow-500;
  }

  .prose pre {
    @apply bg-gray-100 border border-gray-200 dark:border-gray-700 dark:bg-gray-800;
  }

  .prose p + p {
    margin-top: 0;
  }

  .prose code {
    @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
  }

  .black-link {
    @apply text-gray-1000 dark:text-gray-100 hover:underline visited:text-gray-1000 dark:hover:text-gray-50 dark:visited:text-gray-100;
  }

  .nav-label a {
    @apply text-gray-1000 dark:text-gray-50 hover:text-blue-500 hover:bg-blue-500 hover:bg-opacity-10;
  }

  .nav-label.active a {
    @apply bg-blue-500 bg-opacity-10  text-blue-500;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-gray-700 dark:text-gray-300;
  }

  .token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-green-500;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-purple-500;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    @apply text-yellow-500;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    @apply text-blue-500;
  }

  .token.function,
  .token.class-name {
    @apply text-pink-500;
  }

  .token.regex,
  .token.important,
  .token.variable {
    @apply text-yellow-500;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-gray-1000 dark:text-gray-50;
  }
}