name: notfoundbot
on:
  schedule:
    - cron: "0 5 * * *"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Fix links
        uses: tmcw/notfoundbot@v2.0.0-beta.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
